.custom-card {
    padding: 10px;
    margin: 20px;
}

.custom-card-header{
    color: green;
    margin: 20px;
}

.custom-card-content{
    margin: 20px;
    color :red;
}

h2{
    color:rgb(156, 223, 33)
}

h5{
    color: lightcoral
}