.custom-header-row {
  background-color: #3f51b5;
  /* Example background color */
  color: white;
  /* Text color */
}

button {
  padding: 15px;
  margin: 15px;
}

.add-button:hover {
  background-color: chartreuse;
}

.remove-button:hover {
  background-color: rgb(246, 40, 64);
}
